html, body{
	font-family: "Open_Local";
	width:100%;
	height:100%;
	cursor:default;
	background-image:url('../images/Fondo_01.png');
	color: #555;
    text-shadow: 0 .05em rgba(255,255,255,0.7);
}

/*FUENTES DE LETRA:------------------------------------------------------------------------------------------------------------------------------------------*/
@font-face{
	font-family: Open_Local;
	src: url('../fonts/OpenSans Regular.ttf');
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*LINEAS PUNTEADAS-------------------------------------------------------------------------------------------------------------------------------------------*/
hr{
	border:#B8B3B1 1px dashed;
	border-style: none none dashed;
	color:#FFFFFF;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/